#header {
    border-radius: 10px;
    font-size: 30px;
    color: green;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.green {
    background-color: lightgreen;
    border-radius: 10px;
}

.blue {
    background-color: lightblue;
    border-radius: 10px;
}

.marginTop {
    margin-top: 10px;
}

.padding {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.buttonPadding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.marginLeftRight {
    margin-left: 20px;
    margin-right: 20px;
}

.img {
    height: 60%;
    width: 60%;
}

.imgCenter {
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bold;
    color: orange;
    text-shadow: -1px 1px 0 #000, 
                 1px 1px 0 #000, 
                 1px -1px 0 #000, 
                 -1px -1px 0 #000; 
}